body {
    background-color: black;
    text-align: center;
}

.header--main {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.to--top {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

.header--mid {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.sub--header--main {
    font-family: verdana;
    font-size: 21px;
    color: gray;
}