body {
    background-color: black;
    text-align: center;
}

.header--main {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.to--top {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}